@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prose-reset h1,
.prose-reset h2,
.prose-reset h3,
.prose-reset h4,
.prose-reset h5,
.prose-reset h6 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  margin-top: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

.prose-reset p {
  margin: 0.5rem 0;
}

.prose-reset ul {
  list-style-type: disc;
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 1.5rem;
}

.prose-reset ol {
  list-style-type: decimal;
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 1.5rem;
}

.prose-reset li {
  margin: 0.25rem 0;
}

.prose-reset pre,
.prose-reset code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;
  font-size: 0.9rem;
}